body {
  font-family: sans-serif;
  outline: black;
}

main {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: #230b0d;
}
a:hover {
  color: rgb(223, 201, 206);
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 2.5em;
}

form div {
  margin: 1em;
  display: inline-block;
}
img {
  border: 5px solid black;
  height: 150px;
}

.return {
  color: black;
}

.all-events {
  display: flex;
}
