body {
  font-family: sans-serif;
}

main {
  color: white;
}

a {
  text-decoration: none;
  color: black
}
a:visited {
  color: #230b0d
}
a:hover {
  color: lightgray
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
img {
  border-radius: 3px;
  border: 2px solid black;
  height: 300px;
}

.return {
  color: black
}