
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body, .viewport {
  background: #dbacae;
  /* font-family: sans-serif; */
  outline: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  font-family: 'Open Sans';
}


.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* position: fixed; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* #Navbar .logo {
  display: block;
  float: left;
  width: 40%;
  height: 30%;
} */

main {
  color: white;
}
h4 {
  /* color:rgb(223, 201, 206)
   */
   /* color: #754b58 */
   color: black
}


a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: black
  
}
a:visited {
  color:  rgb(53, 41, 107);
}
a:hover {
  color: rgb(223, 201, 206);
}

.inbox {
  display: flex;
  flex-direction: column;
}

img {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 2.5em 1em 1.5em;
}

#subtitle {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
}

form div {
  margin: 1em;
  display: inline-block;
}
#Navbar img {
    height: 150px;
    border-style: hidden;
}

#splashLogo {
  border-style: hidden;
}

.invite {
  background-color: rgba(223, 201, 206, 0.5);
  border-style: solid;
  border-color: white;
  padding: 20px;
}

.fulfilledEvent {
  background-color: rgba(223, 201, 206, 0.5);
  border-style: solid;
  border-color: white;
  padding: 20px;
  color: white;
}
.eventimg {
  border: 5px solid black;
  height: 150px;
}

.return {
  color: black;
}

.all-events {
  display: flex;
}

#app {
  color: rgb(72, 55, 149);
  outline: black;
}

.decline {
  background-color: rgba(223, 201, 206, 0.5);
  border: none;
  color: black;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 8px;
  border: 1px solid white;
  margin: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.event-info {
  background-color: rgb(72, 55, 149, 0.6);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 8px;
  border: 1px solid white;
  margin: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.confirm  {
  background-color: rgba(223, 201, 206, 0.5);
  border: none;
  color: black;
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 8px;
  border: 1px solid white;
  margin: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.card {
  display: inline-block;
  
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  /* margin-left: 80px;
  margin-right: 50px;
   */
  width: 400px;
  height: 490px;
  padding: 20px 20px;
  border: 1px solid white;
  margin-bottom: 80px;
  
  text-align: justify;
  color: white;
}

.card-img-top {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  display: block;
}

.card-title {
  font-size: 20px;
  font-weight: bold; 
}

.date {
  font-size: 16px;
  color:rgb(72, 55, 149);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px 50px;
  flex-direction: row;
}


/* colors {
  pink: #dbacae;
  lightyellow: rgba(241, 233, 109, 0.61);
  lightgrey: rgb(223, 201, 206)
  darkgrey: #948a96; rgb(148,138,150)
  wine: #665a60;
  white: #ffffff;
  black: #000000
  

  oldGreen: rgb(11, 150, 168);
} */
