html, body, .viewport {
  background: #dbacae;
  font-family: sans-serif;
  outline: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* position: fixed; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#flex-item {
 text-align: center;
  margin: auto;
}

main {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: #230b0d;
}
a:hover {
  color: rgb(223, 201, 206);
}

.inbox {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 2.5em;
}

form div {
  margin: 1em;
  display: inline-block;
}
img {
    height: 150px;
}

.eventimg {
  border: 5px solid black;
  height: 150px;
}

.return {
  color: black;
}

.all-events {
  display: flex;
}

#app {
  color: #ffffff; 
  outline: black;
}